.DS_Store
.env
env
__pycache__
.djangoenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

db.sqlite3
.sqlite3
*.sqlite3

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
*.sqlite
db.sqlite3