{% extends 'works/base.html' %}
{% block head %} List company | Main page {% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container ">
      {% for company in companies_list %}
      <div class="card" style="margin-top: 20px;">
        <h5 class="card-header">Find woker </h5>
        <div class="card-body">
          <h5 class="card-title">{{company.company_name}}</h5>
          <p class="card-text">Company Description</p>
          <a href="{{company.id}}" class="btn btn-primary">Read more</a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
